<launch>
  <node pkg="amcl" type="amcl" name="amcl" output="screen">
    <rosparam file="$(find tony_local_planner)/param/amcl.yaml" command="load" />

    <param name="initial_pose_x" value="14.22"/>
    <param name="initial_pose_y" value="71.85"/>
    <param name="initial_pose_a" value="0"/>
  </node>

  <node name="map_server" pkg="map_server" type="map_server" args="$(arg sim_dir)/working_field.yaml"/>
</launch>
