<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <!--xacro:include filename="$(find gyrobot)/urdf/hokuyo_uam_lidar.gazebo"/-->
  
  <xacro:macro name="hokuyo_lidar_v1" params="prefix originxy rotation_z">
	<joint name="${prefix}_joint" type="fixed">
	  <parent link="base_link"/>
	  <child link="${prefix}_link"/>
	  <origin xyz="${originxy} 0.22" rpy="0 0 ${rotation_z}"/>
      <axis xyz="0 0 1"/>
	  <dynamics damping="0.0" friction="0.0"/>
	</joint>

	<link name="${prefix}_link">
	  <visual>
		<geometry>
		  <mesh filename="package://gyrobot/meshes/Hokuyo_UAM.stl" scale="0.01 0.01 0.01"/>
		</geometry>
		<material name="orange"/>
	  </visual>
	  <collision>
		<geometry>
		  <mesh filename="package://gyrobot/meshes/Hokuyo_UAM.stl" scale="0.01 0.01 0.01"/>
		</geometry>
	  </collision>

	  <inertial>
          <origin xyz="0 -0.000105 0" rpy="0 0 0"/>
          <mass value="0.8"/>
          <inertia ixx="0.00142" ixy="0.039455" ixz="-0.000322"  
	               iyy="0.000784825" iyz="0.0" izz="0.002162710"/>
      </inertial>
	</link>
  </xacro:macro>
</robot>
